/* resources/css/app.css */

/* Memanggil modul utama Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Membuat kustom kelas animasi ke dalam utilitas Tailwind */
@layer utilities {
    .animate-fade-in {
        animation: fadeInUp 0.8s ease-out forwards;
    }
    .delay-100 {
        animation-delay: 0.1s;
    }
    .delay-200 {
        animation-delay: 0.2s;
    }
    .delay-300 {
        animation-delay: 0.3s;
    }
}

/* Keyframes untuk efek muncul dari bawah */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Menyembunyikan elemen sebelum Alpine.js siap (mencegah kedipan) */
[x-cloak] {
    display: none !important;
}
